@import "~sass/_variables";

#organization-box-component {
  margin-bottom: 25px;
  padding: 7px 10px;
  border-radius: 16px;
  box-shadow: 0 0 20px 0 #b5d1e9;
  .section {
    .heading {
      display: flex;
      flex-flow: row wrap;
      font-family: $heading-font;
    }
    .heading-primary {
      color: $blue;
      font-size: 18px;
      .heading-item  {
        width: 100%;
      }
    }
    .heading-secondary {
      color: $grey;
      font-size: 14px;
      .heading-item  {
        width: 100%;
      }
    }
    .divider {
      height: 10px;
      border-bottom: 1px solid $light-grey;
      margin-bottom: 5px;
    }
  }
  .desc-section {
    .description {
      font-family: $text-font;
      font-size: 14px;
      line-height: 15px;
      color: $grey;
    }
  }
  .tags-section {
    margin-top: 10px;
    color: $grey;
    font-family: $heading-font;
    font-size: 13px;
    .tags {
      margin-bottom: 10px;
      .title {
        font-weight: 700;
      }
      .divider {
        height: 3px;
      }
      .tag {
        display: flex;
        flex-flow: row wrap;
        padding: 2px;
        .tag-item {
          margin-bottom: 4px;
          padding: 4px 8px;
          border-radius: 15px;
          color: $blue;
          margin-right: 5px;
        }
        .tag-item-light {
          border: 1px solid $blue;
          color: $blue;
        }
        .tag-item-dark {
          background-color: $lightest-blue;
        }
        .tag-specialization-item {
          font-weight: 300;
          margin-right: 15px;
        }
      }
    }
  }

  @media (min-width: 480px) {
    padding: 10px 15px;
    .section {
      .heading-primary {
        font-size: 20px;
        .org-name {
          font-size: 22px;
        }
      }
      .heading-secondary {
        font-size: 16px;
      }
    }
    .desc-section {
      .description {
        font-size: 14px;
        line-height: 15px;
      }
    }
    .tags-section {
      font-size: 15px;
    }
  }

  @media (min-width: 768px) {

    .section {
      .heading-primary {
        font-size: 24px;
        .heading-item {
          width: 50%;
        }
        .org-name {
          width: 100%;
          font-size: 24px;
        }
      }
      .heading-secondary {
        font-size: 20px;
      }
    }
  }

  @media (min-width: 1024px) {
    .heading-secondary {
      .heading-item {
        flex: 1;
      }
    }
  }
}
