// Primary color paleete
$light-blue: #82BADD;
$blue: #188CC5;
$off-white: #F5F5F5;

// Primary font
$default-foreign: sans-serif;
$standard: sans-serif;

// Font imports
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Roboto');
