<div id="survey-component">
  <div class="flex-col" *ngIf="!isSurveyOpen">
    <h1>Are you seeking help?</h1>
    <p>Were you affected by human trafficking? Are you in need of help? Are you looking for legal aid, a halfway house, rehabilitation services, or education and employment training? Find these resources and many more near you by taking our survey.<br /><br />
    Based on information you provide on your current status, we will give you a customized list of the best resources out there for you.
    <br /><br/>
    Your information will be kept anonymous and will not be shared with any entities or organizations. It will only be used for collecting the best resources for you.
    </p>
    <!-- <a class="nav-link" [routerLink]="['/survey-form']">Continue</a> -->
    <a type="button" name="button" class="nav-link" (click)="openSurveyForm()">
      Continute
    </a>
  </div>

  <app-survey-form
    *ngIf="isSurveyOpen"
    [questions]="questions">
  </app-survey-form>

</div>
