<div id="survey-component">
  <div class="quick-exit">
    <div class="text">
      <span>
        Protect yourself online.
      </span>
    </div>
    <div class="button">
      <a href="https://news.google.com/?hl=en-US&gl=US&ceid=US:en">
        Quick Exit
      </a>
    </div>
  </div>

  <div class="content">
    <div
    class="box"
    *ngIf="initialDisplay == 1">
      <div class="display">
        <p>
            If you have been in a situation where you were forced or coerced to engage in prostitution,  worked in the commercial sex industry, or work without pay, these might be signs of human trafficking.
        </p>
        <p>
            If you need shelter, counseling, rescue/pickup, drug rehabilitation or just help, click "Seeking Help" below. Based on information you provide, we will direct you to the most suitable resources.
        </p>
        <p>
          Note: This platform is designed for those affected by human trafficking. If you are not affected by human trafficking, but suffering from domestic violence, please call the National Domestic Violence Hotline at <span class="alert-text"> 1-800-799-7233</span>.
        </p>
      </div>
      <div class="button-wrapper">
        <button
        type="button"
        class="btn btn-primary"
        (click)="setInitialDisplay(2)">
          Seeking Help
        </button>
      </div>
    </div>

    <div
    class="box"
    *ngIf="initialDisplay == 2">
      <div class="display">
        <p>
          If you are in imminent danger, please call Emergecy Services at <span class="alert-text">911</span>.
        </p>
        <p>
            Take 5 minutes to answer several questions. We will use your answers to give you a list of potentially suitable organizations. Skip any question you do not want to answer. Your information will be kept anonymous and confidential, and will not be shared with anyone unless you choose to do so.
        </p>
        <div class="button-wrapper">
          <button
          type="button"
          class="btn btn-primary"
          (click)="startSurvey()">
            Got it
          </button>
        </div>
      </div>
    </div>

    <div
    class="box"
    *ngIf="initialDisplay == 0">
      <app-question-box
      [questions]="questions"
      (sendAnswers)="receieveAnswers($event)">
      </app-question-box>
    </div>
  </div>

</div>
