@import "~sass/_variables";

#survey-component {
  .quick-exit {
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .text {
      margin-left: 15px;
      color: red;
    }
    .button {
      height: 100%;
      min-width: 120px;
      background-color: red;
      color: white;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  .alert-text {
    color: red;
    font-size: 15px;
  }

  .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: $blue;
    font-size: 14px;
    .box {
      width: 550px;
      margin-top: 25px;
      box-shadow: 1px 1px 3px grey;
      .notice {
        padding: 13px 20px;
        .button-wrapper {
          text-align: center;
        }
      }
      .progress-bar {
        /* margin-bottom: 15px; */
        height: 8px;
      }
      .options-bar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        .prev {
          width: 100px;
          text-align: left;
        }
        .info {
          width: 350px;
          text-align: center;
        }
        .skip {
          width: 100px;
          text-align: right;
        }
      }
      .question-bar {
        .quesiton {
          text-align: center;
        }
      }
    }
  }
}
