@import "~sass/_variables";

#survey-component {
  padding: 30px 20px;
  p {
    font-family: $text-font;
  }
  .button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  @media (min-width: 480px) {
    padding: 35px;
    .content {
      min-width: 420px;
      max-width: 500px;
      margin: auto;
    }
  }

  @media (min-width: 768px) {
  
  }

  @media (min-width: 768px) {
    padding: 45px;
  }

  /* .init{
    width: 550px;
    min-height: 200px;
    flex-flow: row nowrap;
    padding: 10px 20px;
    box-shadow: 1px 1px 3px grey;
    margin: auto;
    display: flex;
    .alert-text {
      color: red;
      font-size: 20px;
    }


      .display {
        min-height: 200px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        .question-text {
          text-align: center;
          font-size: 16px;
          font-weight: 500;
        }
      }
      .button-wrapper {
        padding-top: 20px;
        text-align: center;
      }
  }

  .box-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: $blue;
    font-size: 14px;
    .box {
      width: 550px;
      min-height: 285px;
      margin-top: 20px;
      box-shadow: 1px 1px 3px grey;
      padding: 15px 20px;
      .display {
        min-height: 200px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        .question-text {
          text-align: center;
          font-size: 16px;
          font-weight: 500;
        }
      }
      .button-wrapper {
        padding-top: px;
        text-align: center;
      }
    }
  } */
}
