@import "~sass/_variables";

#survey-component {
  .quick-exit {
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .text {
      margin-left: 15px;
      color: red;
    }
    .button {
      height: 100%;
      min-width: 120px;
      background-color: red;
      color: white;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  .alert-text {
    color: red;
    font-size: 15px;
  }

  .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: $blue;
    font-size: 14px;
    .box {
      width: 550px;
      min-height: 285px;
      margin-top: 25px;
      box-shadow: 1px 1px 3px grey;
      padding: 15px 20px;
      .display {
        min-height: 200px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        .question-text {
          text-align: center;
          font-size: 16px;
          font-weight: 500;
        }
        .answer-options {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          .service {
            padding: 8px 12px;
            background-color: $lightest-blue;
            border-radius: 10px;
            margin-right: 8px;
            margin-bottom: 8px;
            cursor: pointer
          }
          .selected {
            background-color: $blue;
            color: white;
          }
        }
      }
      .button-wrapper {
        text-align: center;
      }
    }
  }
}
