@import "~sass/_variables";

#bar {
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0 5px 5px 0 #b5d1e9;
    display: flex;
    flex-flow: row nowrap;

    #feedback {
        font-family: $heading;
        width: 560px;
        height: 28px;
        font-size: 24px;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #9b9b9b;
    }
}