<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id = "about-component">
		<h1>About Us</h1>
			<p>
			We are a team of undergraduates addressing human trafficking in Atlanta. We are part of the Georgia Tech Grand Challenges program, a program where students form teams to tackle big issues in our world.
			</p>
			<p>
			We chose human trafficking because we know Atlanta is number one for this terrible crime, and we believe we can leverage our technical skills to make much needed impact in this area.
			</p>
			<p>
			The goal of this platform is to direct victims of human trafficking to the best applicable services given their current condition. This platform is still currently in the prototyping and development stages.
			</p>
			<p>
			If you'd like to get work with us, or are just curious about the scale of this problem and how we're trying to tackle it, please send us a message through our "Contact Us" page.
			</p>
	</div>
</body>
</html>