@import "~sass/_variables";

#organization-list-component {
  // padding: 15px;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  font-size: 13px;
  .result-title {
    font-size: 18px;
    color: $blue;
  }
  .result-contents {
    margin-top: 10px;
  }

  @media (min-width: 480px) {
    padding: 20px;
    .result-title {
      font-size: 22px;
    }
  }

}
