<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="./emailForm.js" type="text/javascript"></script>       
</head>

<body>
	
	<div id = "contact-component">

		<div id="emailForm">
			<!--
			<h1>Contact Us</h1>
            <form id="form" name="emailForm" method="POST">
	            
                <input id="name" name="name" type="text" placeholder="Name">
                <input id="email" name="email" type="text" placeholder="Email Address">
                <textarea id="message" name="message" cols="30" rows="5" placeholder="Message"></textarea>
                <input type="button" id="submitEmail" name="submitEmail" value="Send Message"/>
                <p id="mailSent">Message Sent!</p>
            </form>
            -->
            <h5> If you need to contact us in an emergency, to learn more about our project, or want to contribute to our work, please email us directly at intercept.gatech@gmail.com</h5>
        </div>

	</div>
</body>
</html>