<!DOCTYPE html>
<html>
<head>

<script src="emailForm.js"></script>       
</head>

<body>
	
	<div id = "contact-component">a

		<div id="emailForm">
			
			<h1>Contact Us</h1>
            <form id="form" name="emailForm" method="POST">
	            
                <input id="name" name="name" type="text" placeholder="Name">
                <input id="email" name="email" type="text" placeholder="Email Address">
                <textarea id="message" name="message" cols="30" rows="5" placeholder="Message"></textarea>
                <button type="button" id="submitEmail" name="submitEmail">Send Message</button>
                <p id="mailSent">Message Sent!</p>
            </form>
           
            <h5> If you need to contact us in an emergency, to learn more about our project, or want to contribute to our work, please email us directly at intercept.gatech@gmail.com</h5>
        </div>

    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>


</body>
</html>