<div id="organization-profile-component">
  <div class="page">
    <div class="row vertical-center">
      <div class="col-md-3">
        <img src="./../../assets/images/tes.jpeg" id="profile-pic">
      </div>
      <div class="col-md-4">
        <p id="name">{{ organization_name }}</p>

        <p><span class="bold">Location:</span> <a href="#">City, State</a></p>
        <div class="row">
          <div class="col-md-5">
            <button type="button" class="btn btn-primary btn-lg btn-block green-button bold">Apply</button>
          </div>
          <div class="col-md-1"></div>
          <!-- <div class="col-md-5">
            <a href="#">
              <button type="button" class="btn btn-secondary btn-lg btn-block blue-button bold">Contact</button>
            </a>
          </div> -->
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <a href="#"><img src="./../../assets/images/twitter-icon.png" class="icon"></a>
          </div>
          <div class="col-md-2">
            <a href="#"><img src="./../../assets/images/facebook-icon.png" class="icon"></a>
          </div>
          <div class="col-md-2">
            <a href="#"><img src="./../../assets/images/gplus-icon.png" class="icon"></a>
          </div>
          <div class="col-md-2">
            <a href="#"><img src="./../../assets/images/linkedin-icon.png" class="icon"></a>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="row bottom">
      <div class="col-md-7">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#what" role="tab" aria-controls="home" aria-selected="true">What we do</a></li>
          <li class="nav-item"><a class="nav-link"data-toggle="tab" href="#who" role="tab" aria-controls="home" aria-selected="true">Who we help</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#service" role="tab" aria-controls="home" aria-selected="true">Service we provide</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#info" role="tab" aria-controls="home" aria-selected="true">Contact us</a></li>
        </ul>
        <div class="tab-content">
          <div id="what" class="tab-pane in active">
            <h3 class="roboto mt-3">Mission Statement</h3>
            <div class="content">
              <p>{{ organization_mission_statement }}</p>
              <br>
            </div>
          </div>
          <div id="who" class="tab-pane fade">
            <h3 class="roboto mt-3">Who we help</h3>
            <div class="content">
              <p>The population we help inludes:
              <span *ngFor = "let population of organization_populations">{{ population }}, </span> etc.</p>
              <br>
            </div>
          </div>
          <div id="service" class="tab-pane fade">
            <h3 class="roboto mt-3 mb-4">Service we provide</h3>
            <div class="content">
              <p *ngFor = "let service_name of organization_service_names"><strong>{{ service_name }}</strong>: {{ organization_services[service_name] }}</p>
              <br>
            </div>
          </div>
          <div id="info" class="tab-pane fade">
            <h3 class="roboto mt-3 mb-4">Contact us by</h3>
            <div class="content">
              <p><strong>Email:</strong> {{ organization_contact_info.email }}</p>
              <p><strong>Hotline:</strong> {{ organization_contact_info.hotline.number }} (Notes: {{ organization_contact_info.hotline.notes }})</p>
              <p><strong>Phone Number:</strong> {{ organization_contact_info.phone_numbers }}</p>
              <p><strong>Address:</strong> {{ organization_contact_info.location.address }} {{ organization_contact_info.location.city }} {{ organization_contact_info.location.country }} {{ organization_contact_info.location.state }}</p>
              <p><strong>Website:</strong> <a [href]="'http://' + organization_contact_info.website">{{ organization_contact_info.website }}</a></p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
