@import "~sass/_variables";

#nav-component {
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #4589c8;
  color: white;
  font-family: $heading;
  .title-box {
    width: 140px;
    height: 35px;
    font-size: 30px;
    font-weight: 100;
    flex: 1;
    margin-left: 15px;
  }
  .menu-box {
    flex: 2;
    maring-right: 15px;
    .menu {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      font-size: 24px;
      font-weight: 400;
      .menu-item {
        padding: 0px 20px;
      }
      .selected {
        font-weight: 500;
      }
    }
  }
  .logo {
    .img {
      width: 60px;
      height: 60px;
    }
  }
}
