<!-- <span class="mr-3 allstar45"></span> -->
<div class="row justify-content-between">
  <div class="col-md-3">
    <p>Rating</p>
  </div>
  <div class="col-md-9 rating mb-3 flex-row justify-content-left" (mouseover)="this.show = false;" (mouseout)="this.show=true;">
    <span class="mr-3 rated-solid" *ngIf="show===true && rating>=5">&#9733;</span>
    <span class="mr-3" *ngIf="show && rating<5">&#9734;</span>
    <span class="mr-3 rated-solid" *ngIf="show===true && rating>=4">&#9733;</span>
    <span class="mr-3" *ngIf="show && rating<4">&#9734;</span>
    <span class="mr-3 rated-solid" *ngIf="show===true && rating>=3">&#9733;</span>
    <span class="mr-3" *ngIf="show && rating<3">&#9734;</span>
    <span class="mr-3 rated-solid" *ngIf="show===true && rating>=2">&#9733;</span>
    <span class="mr-3" *ngIf="show && rating<2">&#9734;</span>
    <span class="mr-3 rated-solid" *ngIf="show===true && rating>=1">&#9733;</span>
    <span class="mr-3" *ngIf="show && rating<1">&#9734;</span>

    <span class="mr-3" *ngIf="!show" (click) = "this.rating=5;">&#9734;</span>
    <span class="mr-3" *ngIf="!show" (click) = "this.rating=4;">&#9734;</span>
    <span class="mr-3" *ngIf="!show" (click) = "this.rating=3;">&#9734;</span>
    <span class="mr-3" *ngIf="!show" (click) = "this.rating=2;">&#9734;</span>
    <span class="mr-3" *ngIf="!show" (click) = "this.rating=1;">&#9734;</span>
  </div>
  <!-- <div class="col-md-9 rating mb-3 flex-row justify-content-left">

  </div> -->
</div>
