<div id="question-box-component">
  <div class="progress-bar">
    <progressbar
    type="success"
    [max]="questions.length"
    [value]="current.index + 1">
    </progressbar>
  </div>
  <div class="options-bar">
    <div class="pref">
      <button
      type="button"
      class="btn btn-link"
      (click)="previous(current.index)">
        Previous
      </button>
    </div>
    <div class="info">
      <button
      type="button"
      class="btn btn-link"
      triggers="focus"
      placement="bottom"
      [popover]="current.question.help_text"
      [disabled]="surveyComplete">
        Why are we asking?
      </button>
    </div>
    <div class="skip">
      <button
      type="button"
      class="btn btn-light btn-link"
      [disabled]="surveyComplete"
      (click)="skip(current.index)">
        Skip
      </button>
    </div>
  </div>

  <div
  class="content"
  *ngIf="!surveyComplete">
    <div class="question-wrapper">
      <span>{{current.question.question_text}}</span>
    </div>
    <div class="answer-wrapper">
      <div
      class="template"
      [ngClass]="{
        'radio': current.question.question_id !== 1,
        'ineed': current.question.question_id == 1}"
      *ngIf="current.question.display == 'radio'">
        <div
        class="radio-option"
        *ngFor="let option of radioOptions; let i = index">
          <span
          class="text"
          [ngClass]="{'selected': option.selected}"
          (click)="clickRadioOption(i)">
            {{option.option.text}}
          </span>
        </div>
      </div>
      <div
      class="template dropdown"
      *ngIf="current.question.display == 'drop-down'">
        <select
        class="form-control input-sm"
        name="dropdown"
        (change)="selectDropDownOption($event.target.value)">
          <option disabled>Select</option>
          <option
          [value]="optionI"
          *ngFor="let option of dropDownOptions; let optionI = index">
            {{option.option}}
          </option>
        </select>
      </div>
      <div
      class="template location"
      *ngIf="current.question.display == 'location'">
        <div class="locaiton-item zipcode">
          <input
          type="text"
          name="location"
          class="form-control input-sm"
          [ngClass]="{'invalid': textInputInvalid}"
          placeholder="Enter zipcode"
          (change)="updatingTextInput($event.target.value)">
        </div>
        <div class="help-text" *ngIf="textInputInvalid">
          Please provide a valid zip (Example: 30306)
        </div>
        <div class="location-item or">
          <span>Or</span>
        </div>
        <div class="locaiton-item atlanta">
          <button
          type="button"
          class="btn btn-primary"
          (click)="updatingTextInput('Atlanta')">Atlanta</button>
        </div>
      </div>
    </div>
    <div class="next">
      <button
      type="button"
      class="btn btn-block btn-primary"
      [disabled]="!isAnswered"
      (click)="next(current.index)">
        Next
      </button>
    </div>
  </div>

  <div class="content"
  *ngIf="surveyComplete">
  <div class="question-wrapper">
    Thank you! You have answered all the questions. Press continue to see organizations that can potentially serve you.
  </div>
  <div class="next">
    <button
    type="button"
    class="btn btn-block btn-primary"
    (click)="submit(false)">
      Continue
    </button>
  </div>
  </div>

</div>
