@import "~sass/_variables";

.content {
    font-family: $text;
    .home {
        padding-top: 60px;
        margin: auto;
        width: 50%;

        .button-wrapper {
            .btn.btn-primary {
                // border-radius: 20%;
            }
            text-align: center;

        }
    }


}