<div id="home-component">
  <div class="content">
    <p>
      If you have been in a situation where you were forced or coerced to engage in prostitution, worked in the commercial sex industry, or worked without pay, you may have been in a human trafficking situation.
    </p>
    <p>
      If you need shelter, counseling, rescue/pickup, drug rehabilitation or just help, click "Seeking Help" below. Based on information you provide, we will direct you to the most suitable resources.
    </p>
    <p>
      <i>Note:</i> This platform is designed for those affected by human trafficking. If you are not affected by human trafficking, but suffering from domestic violence, please call the National Domestic Violence Hotline at <span class="alert-text"> 1-800-799-7233</span>.
    </p>
    <div class="button-wrapper">
      <button
      type="button"
      class="btn btn-primary btn-lg"
      (click)="startSurvey()">
        Seeking Help
      </button>
    </div>
  </div>

</div>
