@import "~sass/_variables";

#home-component {
  padding: 30px 20px;
  p {
    font-family: $text-font;
    .alert-text {
      color: $red;
    }
  }
  .button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  @media (min-width: 480px) {
    padding: 35px;
    .content {
      min-width: 420px;
      max-width: 500px;
      margin: auto;
    }
  }

  @media (min-width: 768px) {
    padding: 45px;
  }
}
