@import "~sass/_variables";

#quick-exit-component {
  background-color: #ffffff;
  box-shadow: 0 5px 5px 0 #b5d1e9;
  .wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: $heading-font;
    font-size: 18px;

    .box {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      .text {
        color: $red;
        margin-left: 10px;
      }
    }
    .button-box {
      min-width: 120px;
      height: 100%;
      padding: 0px;
      background-color: $red;
      color: white;
      text-align: center;
    }

    @media (min-width: 320px) {
      height: 35px;
    }

    @media (min-width: 480px) {
      height: 45px;
      font-size: 20px;
      .box {
        .text {
          margin-left: 20px;
        }
      }
      .button-box {
        min-width: 240px;
      }
    }
  }
}
